<html lang="en">

	<head>
	
		<title>Simple-Calculator DEMO v2.3</title>
		<meta charset="UTF-8">

		<script type="text/javascript">

			window.onload = function() {

				var button = document.getElementById('button');

				button.onclick = function() {

					var operation = parseInt(document.getElementById('operation').value);
					var num1 = parseInt(document.getElementById('num1').value);
					var num2 = parseInt(document.getElementById('num2').value);
					var output = document.getElementById('output');
					var result;

					switch(operation) {
				
						case 1:

							result = num1 + num2;
							break;
						
						case 2:

							result = num1 - num2;
							break;

						case 3:

							result = num1 / num2;
							break;

						case 4:

							result = num1 * num2;
							break;

						default:

							result = 'Error in the operation! ...';
							break;
				
					}

				 	output.innerHTML = result;

				}

			}

		</script>

		<style type="text/css">
		
			.button {

				background-color:black;
				color:white;
				font-weight:800;
				padding:4pt;
				border-radius:5pt;
				cursor:pointer;

			}
		
		</style>

	</head>

	<body>
	
		<form>
		
			<h2>Simple Calculator:</h2>
			<hr>
			<label for="operation">Operation:</label>
			<select id="operation">
				<option selected>Select an operation ...</option>
				<option value="1">Sum</option>
				<option value="2">Sub</option>
				<option value="3">Div</option>
				<option value="4">Mul</option>
			</select>
			<label for="num1">Number 1:</label>
			<input id="num1" type="number" placeholder="Enter a number">
			<label for="num2">Number 2:</label>
			<input id="num2" type="number" placeholder="Enter a number">
			<span class="button" id="button">Calc</span>

			<br>
			
			<h3>Output:</h3>

			<output id="output">No data input! ...</output>

		</form>
	
	</body>

</html>
